.App {
  font-size: 20px;
}

.App .navbar {
  background-color: #C41E3A;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  background-color: #C41E3A;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  padding-left: 10px;
}

.nav-item {
  padding-left: 10px;
}
